
/* ===========Normalize=========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =============Base and layout styles=============== */

body{
  font-family:"Inter",sans-serif;
  background: #1A0B2E;
  color: #FFFFFF;
  line-height:1.5;
}

.container{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding:0 20px;
}
/* ==========Components(Reusable Components)=========== */
/* button */

.btn-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}
.btn{
  background-image: linear-gradient(to right, #f7cf4d, #DB489F, #9500f6);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 12px 16px;
    cursor: pointer;
}
.btn:hover{
    color: #FFFFFF;
    box-shadow: 0 0 10px #DB489F;
}
.btn2{
    background-color: transparent;
    border: 1px solid lightseagreen;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    color: lightseagreen;
    padding: 12px 16px;
    cursor: pointer;
}
.btn2:hover{
    background-color: transparent;
    box-shadow: 0 0 15px #FFFFFF;
}
.btn-f{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.btn{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    gap:.5rem;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    transition: .3s eas;
    font-weight:600;

    background-color: aliceblue;
    color: antiquewhite;
}
.btn:hover{
    background-color: aqua;
    color: #fff;
    box-shadow: 0 0 10px red;
}
/* card */

.card{
  background:white;
  padding:20px;
  border: 1px solid navy;
  border-radius:var(--radius);
  box-shadow:var(--shadow);

  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
/* =============header part=============== */
.header{
  padding: 20px 100px;
}
.navbar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  list-style: none;
}
.nav-list li a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
.nav-list li a:hover{
  text-shadow: 0 0 15px whitesmoke;
  background-color: transparent;
  cursor: pointer;
}
/* ==============Main Part================= */
/* hero section */
.hero-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 60vh;
  background-image: url(../images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: padding-box;
}
.new{
  position: absolute;
  left: 60%;
  top: 20%;

  background-color: #00FF88;
  color: #1A0B2E;
  padding: 6px 10px;
  border: none;
  border-radius: 15px;
}
.img1{
  width: 300px;
  height: auto;
}
.img2{
  position: absolute;
}
.hero-text{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
}
.podcast{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 3rem;
  height: auto;
}
.counter{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.counter-box h1{
  color: #00FF88;
}
/* Featured Part */

.featured{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.feature-card{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: auto;

}
.feature-card-box1{
  flex: 1 1 calc(33.333% -1rem);

  background-color: #35175e;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.feature-card-box1 h1{
  font-size: 18px;
}
.feature-card-box1 p{
  font-size: 14px;
  text-align: left;
  white-space: pre-;
}
.feature-card-box2{
  flex: 1 1 calc(33.333% -1rem);

  background-color: #35175e;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.feature-card-box1 h2{
  font-size: 18px;
}
.feature-card-box3{
  flex: 1 1 calc(33.333% -1rem);

  background-color: #35175e;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
.feature-card-box1 h3{
  font-size: 18px;
}
/* Meet the Host */

.meet-the-host{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.card-meet{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  background-color: #250E44;
  border: none;
  border-radius: 10px;
  padding: 40px 20px;

  margin-bottom: 40px;
}
.img{
  width: calc(20% -1rem);
}
.card-meet-box{
  width: 80%;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.card-meet-social{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.card-meet-social li{
  background-color: #1A0B2E;
  padding: 15px;
  border: 1px solid #35175e;
  border-radius: 50%;
}
  /* ===============Footer Part============== */

.footer{
  width: 100%;
  height: auto;
  background-image: url(../images/footer-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.footer-box{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}
.f-heading{
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}
.f-span{
  background-image: linear-gradient(to right, #f7cf4d, #DB489F, #9500f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-social-media{
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  list-style: none;
  padding: 10px;
}
.footer-social-media li{
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
}



/* ==========Media queries=========== */

@media screen and (min-width: 768px ) {
    
}
@media screen and (min-width: 992px ) {
    
}
@media screen and (min-width: 1200px ) {
    
}